<main>

    <div class="container-fluid">


        <h3 class="mt-5 mb-3 text-center">Listado de Partidos Pol&iacute;ticos</h3>

        <a href="/admin/parties/add-parties" class="btn btn-primary col-md-2 offset-5 mb-5">Agregar
            un Partido Pol&iacute;tico</a>

        <div class="row">
            {{#if hasParties}}

            {{#each parties as |party|}}


            <div class="col-md-4">
                <div class="card {{#if party.state}} {{else}}card-disabled{{/if}}">
                    <img src="{{party.partylogo}}" class="card-img-top image-size" alt="{{party.name}}">
                    <div class="card-body">
                        <h5 class="card-title fs-3 font-bold">{{party.name}}</h5>
                        <p class="card-text font-medium">{{party.description}}</p>
                        <p class="card-text font-medium">Estado: {{#if party.state}}Activo{{else}}Inactivo{{/if}}
                        </p>


                        <div class="d-flex mx-0 float-end">
                            <a href="/admin/parties/edit-parties/{{party.id}}?editMode=true"
                                class="btn btn-primary ">Editar</a>

                            <form action="/admin/parties/delete-parties" method="post" class="mx-2">

                                <input type="hidden" value="{{this.id}}" name="partyId">
                                <button type="submit" class="btn btn-danger float-middle">Borrar</button>
                            </form>
                        </div>
                    </div>
                </div>


                {{/each}}


                {{else}}

                <h5 class="text-center mt-5 mb-5">No existen Partidos Pol&iacute;ticos Agregados</h3>


                    {{/if}}


            </div>
        </div>
</main>